{% extends 'base.html' %}

{% block title %}Búsqueda de Vehículos{% endblock %}

{% block content %}

<h1>Búsqueda de Vehículos</h1>
<form id="VehicleSearchForm" method="post">
    {% csrf_token %}
    <!-- Agregar los campos del formulario junto con sus botones de limpieza -->
    <div class="input-with-button">
        <label for="id_brand">Marca:</label>
        {{ form.brand }}
        <button type="button" onclick="clearInput('id_brand')">Limpiar</button>
    </div>
    <div class="input-with-button">
        <label for="id_sub_brand">Submarca:</label>
        {{ form.sub_brand }}
        <button type="button" onclick="clearInput('id_sub_brand')">Limpiar</button>
    </div>
    <div class="input-with-button">
        <label for="id_model_year">Modelo:</label>
        {{ form.model_year }}
        <button type="button" onclick="clearInput('id_model_year')">Limpiar</button>
    </div>
    <div class="input-with-button">
        <label for="id_version">Versión:</label>
        {{ form.version }}
        <button type="button" onclick="clearInput('id_version')">Limpiar</button>
    </div>
    <button type="button" onclick="clearForm()">Limpiar Formulario</button>
    <button type="submit">Buscar</button>
</form>

<!-- Resultados de la búsqueda -->
{% if not vehicles.empty %}
    <div class="container mx-auto my-8">
        <h2 class="text-3xl font-bold mb-6">Resultados de la Búsqueda:</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% for vehicle in vehicles %}
                <div class="bg-white shadow-md rounded-lg overflow-hidden">
                    <div class="p-4">
                        <h3 class="text-2xl font-bold text-primary">{{ vehicle.marca }} {{ vehicle.submarca }}</h3>
                        <p class="text-sm text-secondary mt-2">
                            <strong>Año Modelo:</strong> {{ vehicle.modelo }}<br>
                            <strong>Versión:</strong> {{ vehicle.version }}<br>
                            <strong>Rendimiento en ciudad:</strong> {{ vehicle.rendimiento_ciudad }}
                        </p>
                    </div>
                    <div class="border-t border-gray-200">
                        <details class="p-4">
                            <summary class="cursor-pointer text-primary">Características</summary>
                            <ul class="list-disc list-inside mt-2 text-sm text-secondary">
                                <li><strong>Transmisión:</strong> {{ vehicle.transmision }}</li>
                                <li><strong>Cilindros:</strong> {{ vehicle.cilindros }}</li>
                                <li><strong>Combustible:</strong> {{ vehicle.combustible }}</li>
                                <li><strong>Rendimiento en carretera:</strong> {{ vehicle.rendimiento_carretera }}</li>
                                <li><strong>Rendimiento combinado:</strong> {{ vehicle.rendimiento_combinado }}</li>
                                <li><strong>Calificación efecto invernadero:</strong> {{ vehicle.efecto_invernadero }}</li>
                                <li><strong>Calificación contaminación del aire:</strong> {{ vehicle.contaminacion_aire }}</li>
                            </ul>
                        </details>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <p class="text-center text-lg text-gray-700">Prueba haciendo una búsqueda</p>
{% endif %}

</body>

<script>
    function clearInput(inputId) {
        document.getElementById(inputId).value = '';
    }

    function clearForm(formId) {
        document.getElementById('id_brand').value = '';
        document.getElementById('id_sub_brand').value = '';
        document.getElementById('id_model_year').value = '';
        document.getElementById('id_version').value = '';
        document.getElementById("VehicleSearchForm").submit();
    }
    function showDetails(vehicleId) {
        var detailsDiv = document.getElementById('details_' + vehicleId);
        if (detailsDiv.style.display === 'none') {
            detailsDiv.style.display = 'block';
        } else {
            detailsDiv.style.display = 'none';
        }
    }
</script>

{% endblock %}
